body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    color: #333;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
button {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#mensaje-bienvenida,
#dias-vividos {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

#mensaje-bienvenida {
    background-color: #e6f7ff;
}

#dias-vividos {
    background-color: #ccffcc;
}
